$background-color: #000000;
$font-color: #d8d8d8;
$border-color: #000000;
$main-font: Metamorphous;

@font-face {
  font-family: Metamorphous;
  src: url(../fonts/Metamorphous-Regular.ttf);
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $main-font;
  background-color: $background-color;
}
h1, h2, p {
  margin: 0;
}
.content {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 30% 40% 30%;

  width: 100%;
  height: 100%;
  background-image: url("../img/mainBackground.png");

  .content_title {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    place-self: center;

    color: $font-color;
    font-size: 5vw;
  }
}
.window{
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  background-image: url("../img/windowBackground.png");
  border: 0.25vw solid $border-color;
  .window__welcome {
    display: grid;
    grid-template-columns: 5% 15% 60% 15% 5%;
    grid-template-rows: 5% 20% 10% 20% 10% 20% 15%;

    .window__welcome--title {
      display: grid;
      grid-column: 2 / 5;
      grid-row: 2 / 3;
      place-self: center;

      font-size: 2vw;
    }
    .window__welcome--logInBtn {
      grid-column: 3 / 4;
      grid-row: 4 / 5;

      font-family: $main-font;
      font-size: 1.5vw;
      background-color: transparent;
      border: 5px solid $border-color;
  
    }
    .window__welcome--registerBtn {
      grid-column: 3 / 4;
      grid-row: 6 / 7;

      font-family: $main-font;
      font-size: 1.5vw;
      background-color: transparent;
      border: 5px solid $border-color;
    }
  }
  .window__logIn, .window__register {
    display: none;
  }

  .window__logIn {
    grid-template-columns: 5% 10% 70% 10% 5%;
    grid-template-rows: 5% 20% 5% 10% 2.5% 10% 2.5% 10% 2.5% 10% 2.5% 5% 10% 5% ;

    .window__logIn--title {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      place-self: center;

      font-size: 2vw;
    }
    .window__logIn--login{
      grid-column:3 / 4;
      grid-row: 4 / 5;
      place-self: center;

      font-size: 1.5vw;
    }
    .window__logIn--loginInput {
      grid-column: 2 / 5;
      grid-row: 6 / 7;
      text-align: center;
    }
    .window__logIn--password {
      grid-column: 3 / 4;
      grid-row: 8 / 9;
      place-self: center;

      font-size: 1.5vw;
    }
    .window__logIn--passwordInput {
      grid-column: 2 / 5;
      grid-row: 10 / 11;
      text-align: center;
    }
    .window__logIn--submitInput {
      grid-column: 3 / 4;
      grid-row: 13 / 14;
    }
  }
  .window__register {
    grid-template-columns: 5% 10% 70% 10% 5%;
    grid-template-rows: 5% 10% 10% 10% 10% 10% 10% 10% 10% 10% 5%;

    .window__register--title {
      grid-column: 2 / 5;
      grid-row: 2 / 3;
      place-self: center;

      font-size: 2vw;
    }
    .window__register--login {
      grid-column: 3 / 4;
      grid-row: 3 / 4;
      align-self: center;

      font-size: 1vw;
    }
    .window__register--loginInput {
      grid-column: 3 / 4;
      grid-row: 4 / 5;
    }
    .window__register--password {
      grid-column: 3 / 4;
      grid-row: 5 / 6;
      align-self: center;

      font-size: 1vw;
    }
    .window__register--passwordInput {
      grid-column: 3 / 4;
      grid-row: 6 / 7;
    }
    .window__register--email {
      grid-column: 3 / 4;
      grid-row: 7 / 8;
      align-self: center;

      font-size: 1vw;
    }
    .window__register--emailInput {
      grid-column: 3 / 4;
      grid-row: 8 / 9;
    }
    .window__register--termsAccept {
      grid-column: 3 / 4;
      grid-row: 9 / 10;
      align-self: center;

      font-size: 1vw;
    }
    .window__register--submitInput {
      grid-column: 3 / 4;
      grid-row: 10 / 11;
    }
  }
}


