<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Chusen Ones Online</title>
    <link rel="stylesheet" href="../css/style.css" type="text/css">
  </head>
  <body>
    <div class="container">
      <form class="container__form" action="/" method="post">
        Login:
        <input id="login" type="text" name="login" value="" placeholder="Wybruniec">
        <br>
        <br>
        Hasło:
        <input id="password" type="password" name="password" value="" placeholder="Autystyś">
        <input id="login_button" type="submit" name="button"/>
      </form>
    </div>
  </body>
</html>
